[submodule "deps/Ardens"]
	path = deps/Ardens
	url = https://github.com/tiberiusbrown/Ardens.git
[submodule "deps/nativefiledialog-extended"]
	path = deps/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
